#navbar-logo{
    width:30px;
    height:30px;
}

#showcase-image {
    height: 250px;
    height: 250px;
}
.increment-counter-img{
    width: 100px;
    height: 100px;
    margin: auto;
}
#fundamentals-image {
    height: 240px;
    width: 240px;
}
#data-image{
    height: 300px;
}